::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e3e8f0;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #dd1f83);
  border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.rounded-circle {
  border-radius: 50%;
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.5s filter;
  filter: blur(2px);
}
