.loader-container {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
}

.loader,
.loader span {
  width: 10em;
  height: 10em;
  border: 0.25em solid #f8f9fa;
  font-size: 10px;
  border-radius: 1em;
  position: absolute;
  mix-blend-mode: normal;
}

.loader {
  background-color: #1e30f3;
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  to {
    transform: rotate(1turn);
  }
}
.loader span {
  animation: de-rotating 4s linear infinite;
}

@keyframes de-rotating {
  from,
  to {
    transform: rotate(0deg) scale(0.5);
  }
  50% {
    transform: rotate(-180deg) scale(1.2);
  }
}

.loader span:nth-child(1) {
  top: 5em;
  left: 5em;
  background-color: #dd1e83;
}

.loader span:nth-child(2) {
  top: -5em;
  left: 5em;
  background-color: #542bd4;
}

.loader span:nth-child(3) {
  top: 5em;
  left: -5em;
  background-color: #9f24a7;
}

.loader span:nth-child(4) {
  top: -5em;
  left: -5em;
  background-color: #6a76f5;
}
